body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Stylizacja dla strony o tenisie */
#about-tennis {
  background-color: #fff;
  color: #333;
  padding: 20px;
}

/* Stylizacja dla podstrony z najnowszymi informacjami */
#latest-news {
  background-color: #D2691E; /* pomarancz */
  color: #fff;
  padding: 20px;
}

/* Stylizacja dla podstrony z rekomendowanymi produktami */
#recommended-products {
  background-color: #6495ED; /* Ciemno niebieski kolor */
  color: #fff;
  padding: 20px;
}
